* {
    margin: 0px;
    padding: 0px;
    background-color : grey;
}

#container {
    justify-content: center;
    justify-items: center;
}

#sketchpad {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 2px solid black;
    margin: 24px;
}

.pixel {
    border: 0px solid black;
    flex: 1;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.pixel-mouseover {
    background-color: #000000;
}

.btn-grid {
    margin: 12px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid;
}